@import '../settings/variables';
@import '../settings/mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

.#{$brizism-namespace}headline {
  display: inline-block;
  position: relative;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;

  &:after {
    @include handleHeadline($kale-salad);
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    height: 50%;
    padding: 0px 10px;
    z-index: -1;
    box-sizing: content-box;
  }

  // GRADIENTS
  &.vital-ocean { @include handleButton($vital-ocean) };
  &.kale-salad { @include handleButton($kale-salad) };
  &.disco-club { @include handleButton($disco-club) };
  &.shady-lane { @include handleButton($shady-lane) };
  &.retro-wagon { @include handleButton($retro-wagon) };
  &.fresco-crush { @include handleButton($fresco-crush) };
  &.cucumber-water { @include handleButton($cucumber-water) };
  &.sea-salt { @include handleButton($sea-salt) };
  &.par-four { @include handleButton($par-four) };
  &.ooey-gooey { @include handleButton($ooey-gooey) };
  &.bloody-mimosa { @include handleButton($bloody-mimosa) };
  &.lovely-lilly { @include handleButton($lovely-lilly) };
  &.aqua-spray { @include handleButton($aqua-spray) };
  &.mello-yellow { @include handleButton($mello-yellow) };
  &.dusty-cactus { @include handleButton($dusty-cactus) };


  // COLORS
  // Primary Color Palette
  &.green { @include handleButton($green)}
  &.red { @include handleButton($red)}
  &.orange { @include handleButton($orange)}
  &.yellow { @include handleButton($yellow)}
  &.blue { @include handleButton($blue)}
  &.purple { @include handleButton($purple)}
  &.pink { @include handleButton($lightPink)}

  // Grey Color Palette
  &.smoke { @include handleButton($smoke) }
  &.darkSmoke { @include handleButton($darkSmoke) }
  &.snow { @include handleButton($snow) }
  &.darkSnow { @include handleButton($darkSnow) }
  &.steel { @include handleButton($steel); color: $snow; }
  &.slate { @include handleButton($slate); color: $snow; }  
  &.silver { @include handleButton($silver) }  
}

h1.#{$brizism-namespace}headline {
  font-size: 6.667rem;
}

h2.#{$brizism-namespace}headline {
  font-size: 2.74286rem;
}

h3.#{$brizism-namespace}headline {
  font-size: 2.5714rem;
}

h4.#{$brizism-namespace}headline {
  font-size: 1.71429rem;
}

h5.#{$brizism-namespace}headline {
  font-size: 1.6rem;
}

