@import '../settings/variables';
@import '../settings/mixins';
@import url('https://fonts.googleapis.com/css?family=Anton');

.br_headline {
  display: inline-block;
  position: relative;
  color: $black;
  font-family: 'Anton', sans-serif;

  &:after {
    @include handleHeadline($kale-salad);
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    height: 50%;
    padding: 0px 10px;
    z-index: -1;
    box-sizing: content-box;
  }

  &.gradient {
    // GRADIENTS
    &__vital-ocean { @include handleHeadline($vital-ocean) };
    &__kale-salad { @include handleHeadline($kale-salad) };
    &__disco-club { @include handleHeadline($disco-club) };
    &__shady-lane { @include handleHeadline($shady-lane) };
    &__retro-wagon { @include handleHeadline($retro-wagon) };
    &__fresco-crush { @include handleHeadline($fresco-crush) };
    &__cucumber-water { @include handleHeadline($cucumber-water) };
    &__sea-salt { @include handleHeadline($sea-salt) };
    &__par-four { @include handleHeadline($par-four) };
    &__ooey-gooey { @include handleHeadline($ooey-gooey) };
    &__bloody-mimosa { @include handleHeadline($bloody-mimosa) };
    &__lovely-lilly { @include handleHeadline($lovely-lilly) };
    &__aqua-spray { @include handleHeadline($aqua-spray) };
    &__mello-yellow { @include handleHeadline($mello-yellow) };
    &__dusty-cactus { @include handleHeadline($dusty-cactus) };
  }

  &.color {
    // COLORS
    // Primary Color Palette
    &__green { @include handleHeadline($green)}
    &__red { @include handleHeadline($red)}
    &__orange { @include handleHeadline($orange)}
    &__yellow { @include handleHeadline($yellow)}
    &__blue { @include handleHeadline($blue)}
    &__purple { @include handleHeadline($purple)}
    &__pink { @include handleHeadline($lightPink)}

    // Grey Color Palette
    &__smoke { @include handleHeadline($smoke) }
    &__darkSmoke { @include handleHeadline($darkSmoke) }
    &__snow { @include handleHeadline($snow) }
    &__darkSnow { @include handleHeadline($darkSnow) }
    &__steel { @include handleHeadline($steel); color: $snow; }
    &__slate { @include handleHeadline($slate); color: $snow; }  
    &__silver { @include handleHeadline($silver) }  
  }
}

h1.br_headline {
  font-size: 6.667rem;
}

h2.br_headline {
  font-size: 2.74286rem;
}

h3.br_headline {
  font-size: 2.5714rem;
}

h4.br_headline {
  font-size: 1.71429rem;
}

h5.br_headline {
  font-size: 1.6rem;
}

