@mixin handleHeadline($colorOrGradient) {
  &:after {
    background: $colorOrGradient;
  }
}

@mixin handleButton($colorOrGradient){
  &::after {
        background: $colorOrGradient;
        color: $black;
      }
}
