// GRADIENTS
$vital-ocean: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
$kale-salad: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
$disco-club: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
$shady-lane: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
$retro-wagon: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
$fresco-crush: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
$cucumber-water: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
$sea-salt: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
$par-four: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
$ooey-gooey: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
$bloody-mimosa: linear-gradient(90deg, #d53369 0%, #daae51 100%);
$lovely-lilly: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
$aqua-spray: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$mello-yellow: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
$dusty-cactus: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);


// COLORS
$black: #2B2B2B;

// FLAT COLOUR PALETTE
$mediumslateblue: #8981FC;
$paleturquoise: #C1E2FE;
$lightcoral: #FD837F;
$lightslategray: #7778AB;
$lavender: #D7D8FE;
$sandybrown: #F6BB5E;
$peru: #CA8D52;
$pink: #FD86E6;
$mediumaquamarine: #4DE195;
$honeydew: #F7FFEC;
$rosybrown: #B8906F;
$linen: #F3EEE5;
$darkslategray: #435055;
$gainsboro: #D1EFEB;
$lavenderblush: #FEDFF8;


// PRIMARY COLOUR PALETTE
$green: #29EB7F;
$darkGreen: #13CE66;
$red: #FF4949;
$orange: #FF7849;
$yellow: #FFC82C;
$darkYellow: #F8B700;
$blue: #1FB6FF;
$lightBlue: #85D7FF;
$purple: #7E5BEF;
$lightPurple: #A389F4;
$hotPink: #FF49DB;
$lightPink: #FF7CE5;


// GREY COLOUR PALETTE
$darkSmoke: #D3DCE6;
$smoke: #E0E6ED;
$darkSnow: #EFF2F7;
$snow: #F9FAFC;
$steel: #273444;
$slate: #3C4858;  
$silver: #8492A6;  



// BUTTON VARIABLES
$button-font-size: 1.4rem;
$button-line-height: 3rem;
$button-padding: 0 .8rem;